.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #b5b2b2;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}
  






























/* // import { makeStyles } from '@material-ui/core/styles'

// const useStyles = makeStyles(theme => ({
//     ldsSpinner: {
//         color: 'black',
//         display: 'inline-block',
//         position: 'relative',
//         width: 64,
//         height: 64,
//         '& div': {
//             transformOrigin: '32px 32px',
//             animation: 'ldsSpinner 1.2s linear infinite',
//         },
//         '& div:after': {
//             content: " ",
//             display: 'block',
//             position: 'absolute',
//             top: 3,
//             left: 29,
//             width: 5,
//             height: 14,
//             borderRadius: '20%',
//             background: '#fff',
//         },
//         '& div:nth-child(1)': {
//             transform: 'rotate(0deg)',
//             animationDelay: '-1.1s',
//         },
//         '& div:nth-child(2)': {
//         transform: 'rotate(30deg)',
//         animationDelay: '-1s',
//         },
//         '& div:nth-child(3)': {
//             transform: 'rotate(60deg)',
//             animationDelay: '-0.9s',
//         },
//         '& div:nth-child(4)': {
//             transform: 'rotate(90deg)',
//             animationDelay: '-0.8s',
//         },
//         '& div:nth-child(5)': {
//             transform: 'rotate(120deg)',
//             animationDelay: '-0.7s',
//         },
//         '& div:nth-child(6)': {
//             transform: 'rotate(150deg)',
//             animationDelay: '-0.6s',
//         },
//         '& div:nth-child(7)': {
//             transform: 'rotate(180deg)',
//             animationDelay: '-0.5s',
//         },
//         '& div:nth-child(8)': {
//             transform: 'rotate(210deg)',
//             animationDelay: '-0.4s',
//         },
//         '& div:nth-child(9)': {
//             transform: 'rotate(240deg)',
//             animationDelay: '-0.3s',
//         },
//         '& div:nth-child(10)': {
//             transform: 'rotate(270deg)',
//             animationDelay: '-0.2s',
//         },
//         '& div:nth-child(11)': {
//             transform: 'rotate(300deg)',
//             animationDelay: '-0.1s',
//         },
//         '& div:nth-child(12)': {
//             transform: 'rotate(330deg)',
//             animationDelay: '0s',
//         },
//     },
//     '@keyframes ldsSpinner': {
//         '0%': {
//         opacity: 1,
//         },
//         '100%': {
//         opacity: 0,
//         }
//     }, 
// }))

// export default useStyles */